header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: #fff; 
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 99999;
}

img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 40px;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

button[type="submit"] {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 3px;
    margin-right: 40px;
}
